
.menu-category {
	position: relative;
	cursor:pointer;
	display:none; /* :none for mobile */
	background-color: #fff;
	color: #000;
	padding:10px;
}

.menu-category:hover ul {
	//display: block;
	left: 0;
	right: 0;
}

.menu-item-deactivated {
	color: #888 !important;
	cursor: default !important;
	text-decoration: line-through;
}

#dropdown-menu-item-template {
	display:none;
}

.header-vertical-divider {
	position:absolute;
	top:0px;
	left:0px;
	margin-left:0px;
	background-color: #ccc;
	width: 1px;
	height: 90px;
}

.menu-item-dd-title:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #fff; /* dropdown arrow symbols */
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
	margin-right:10px;
}

.menu-title-underline {
	position:relative;
	display:block;
	height: 1px;
	width: 90%;
}

.menu-category-level {
	display:flex;
	width: 200px;
	margin-top: 88px;
	justify-content: center;
	flex-direction: column;
	position:fixed;
	top:0px;
	border-bottom: 0px solid #fff;
	padding:0px;
	box-shadow: 0px 0px 10px 3px #888888;
	z-index: 10;
}

.menu-category-level ul {
  list-style-type: none;
}

.menu-category-level:hover .menu-category {
}

.menu-category {
  display:block; /* :none for mobile */
  font-size: 20px;
  float:left;
}

.menu-category:hover .menu-item-level {
  //display:block;
}

li.menu-category:hover {
	color: #fff;
	background-color: #214466;
}

.menu-item-level {
  display:none;
  position:static; /*change to static for mobile */
  padding-left:0px;
  background-color: rgba(255, 255, 255, 1.0);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: red;
  /*width: 189px;*/
  color: #000;
}

.menu-item-level :not(:last-child) {
	padding-bottom:5px;
}

.menu-item {
	padding-left:5px;
  	padding-right:5px;
  	cursor:pointer;
  	font-size: 16px;
}

.menu-item:hover {
  background-color: #666;
  color: #fff;
  padding-left:5px;
}

#menu-mobile-label {
	display:none; /*activate for mobile*/
	font-size:30px;
}

.result-subsection {
	position:absolute;
	right: 0px;
	font-size:14px;
	font-family: 'Didact Gothic';
	color: #fff;
	background-color: #8e4421;
	padding-left:16px;
	padding-right:16px;
	z-index:2;
	cursor:pointer;
}

.menu-category:hover .menu-item-level {
	//display:block;
}

.responsive-menu-container {
	display:none;
}

#facet-menu > .menu-category-level {
	left: 0px;
}

#result-menu > .menu-category-level {
	right: 0px;
}

#viewstate-menu > .menu-category-level {
	right: 14px;
}

#help-menu > .menu-category-level {
	left: 216px;
}

#settings-menu > .menu-category-level {
	right: 123px;
}