@import "colors.scss";

.responsive-layout-container {
	display: none;
	position: absolute;
	left: 0;
	top: 0;

	margin: 0px;
	padding: 0px;
}

#site-report-main-container .section-left {
	height: calc(100vh - 87px - 21px);
}

#site-report-main-container .section-right {
	height: calc(100vh - 87px - 21px);
}

.section-left {
	border-top: 0px solid $inactive-color;
	background-color: #fff;
	margin: 0px;
	
	max-width: 70vw; //FIXME: This should not be hard-coded
	min-width: 30vw; //FIXME: This should not be hard-coded
	
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100vh - 0px);
}

.section-right {
	margin: 0px;
	max-width: 70vw; //FIXME: This should not be hard-coded
	min-width: 30vw; //FIXME: This should not be hard-coded
	
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: rgba(6, 6, 9, 0.1);

	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100vh - 0px);
	//height: calc(100vh - 108px);
	//height: 100vh;
  	width: 100%;
}

.section-toggle-button {
	display:none;
	position:fixed;
	background-color: $aux-color;
	transform: rotate(90deg);
	text-align:center;
	right: 0px;
	margin-right:-48px;
	padding: 5px;
	padding-top: 25px;
	top: 50vh;
	height: 28px;
	width: 120px;
	/*border-radius: 5px;*/
	color: #fff;
	cursor: pointer;
	z-index: 10;
}

.full-section {
	/*position:fixed;*/ /* probably want to used fixed where for maps, otherwise absolute */
	position: absolute;
	width: 100vw !important;
	max-width: 100vw !important;
}

.hidden-section {
	display:none !important;
	min-width: 0vw !important; /*FIXME: I think this should be max-width*/
}