@import "style.scss";

.sqs-menu-block-active {
  background-color: $base-color-light !important;
}

.header-vertical-divider {
  position:absolute;
  top:0px;
  left:0px;
  margin-left:0px;
  background-color: $pane-bg-color;
  width: 1px;
  height: 90px;
}


@mixin sqs-menu-block {
  display:grid;
  width: 100px;
  height: 100px;
  background-color: $inactive-color;
  color: #fff;
  font-family: 'Didact Gothic';
  font-weight:bold;
  font-size: 22px;
  
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 1fr 2fr 1fr;
  
  justify-items: center;
  align-items: center;

  &:hover {
    background-color: $base-color-light;
    cursor:pointer;
    }
}

.sqs-menu-title {
  grid-column: 2;
  grid-row: 2;
}

.sqs-menu-title-subtext {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  font-size: 14px;
  font-weight:bold;
  color: #fff;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  width: calc(100% + 8px);
  text-align:center;
  position:relative;
  top:-2px;
  background-color: #666;
}

.sqs-menu-block-vertical {
  height:87px;
  width: 87px;
  border-left: 1px solid #fff;
  z-index: 2;
  @include sqs-menu-block;
}

.sqs-menu-block-horizontal {
  height: 43px;
  width: auto;
  font-size: 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #fff;
  @include sqs-menu-block;
}

.sqs-menu-block-vertical-large {
  width: calc(20vw - 2px); //FIXME: 20vw should not be hardcoded
}

.sqs-menu-block-vertical-flexible {
  min-width: 160px;
  width: 100%;
  white-space: nowrap;
}

.sqs-menu-block-expanded {
  cursor: default;
}

.sqs-menu-block-compressed {
  height:25px !important;
}

.l1-tite-flex-container {
  display: flex;
  justify-content: space-between;
}

.l1-title { /* .menu-item-title */
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
  /*height: 22px;*/
  font-family: $header-font;
  font-weight: bold;
}

.l1-arrow {
  display: inline-block;
  transform: rotate(90deg);
}

.l1-container { /* .menu-category */
  position: relative;
  cursor:pointer;
  background-color: $inactive-color;
  //background-color: #ddd;
  color: #333;
  padding: 0px;
  margin: 0px;
  //box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.25);;
}
/*
.l1-container-selectable:hover {
  background-color: $base-color-light;
}
*/

.l1-container:hover ul {
	left: 0;
	right: 0;
}

.l1-inactive {
  cursor: default;
  background-color: #ddd;
}

.l1-inactive:hover {
  background-color: #ddd !important;
}


@mixin l1-container-level {
	display:none;
	width: auto;
  margin-top: 0px;
	justify-content: center;
	flex-direction: column;
	/*top:0px;*/
	border-bottom: 0px solid #fff;
	padding:0px;
	z-index: 10;
}

.l1-container-level-vertical {
  
  position: fixed;
  max-width: 30%;
  //right:0px; //Enable this if this element goes outside browser viewport (on the right)
  /*
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.5), -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  */
  //box-shadow: 2px 12px 10px 5px $shadow-color;
  @include l1-container-level;
}
/*
.l1-container-level-vertical {
  border-left: 2px solid #fff;
}
*/

#facet-menu .l2-title {
  background-color: $pane-bg-color !important;
  /*
  border-left: 2px solid #fff;
  */
}

.l1-container-level-vertical .l1-container .l1-title:hover {
  background-color: $base-color-light !important;
  color: #fff !important;
  cursor: pointer;
}

.l1-container-level-vertical .l1-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
  //background-color: #ddd;
  color: #333;
  
  /*
  
  border-top: 1px solid #fff;
  */
}

#facet-menu .l1-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.l1-container-level-vertical .l1-title:hover {
  background-color: $base-color-light;
  color: #fff;
}

.l1-container-level-vertical .l1-inactive .l1-title:hover {
  background-color: #ddd;
  color: #333;
}

.l1-container-level-horizontal {
	  position: relative;
  	margin-top: 0px;
  	height: 33px;
    @include l1-container-level;
}

.l1-container-level-horizontal > .l1-container {
  padding-left: 10px;
  padding-right: 10px;
}


.l1-container-level ul {
  list-style-type: none;
}

ul.l1-container-level {
  //background: #444444;
}

.l1-container {
  display:block; /* :none for mobile */
  font-size: 20px;
  float:left;
  color: #fff;
}

.l1-container.l1-inactive:hover {
  background-color: $base-color-light !important;
}

li.l1-container:hover {
  background-color: $base-color-light;
}

.l2-level { /* .menu-item-level */
  display:block;
  position:static; /*change to static for mobile */
  padding-left:0px;
  margin-top:0px;
  background-color: $inactive-color;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: $base-color-light;
  padding-left: 0px;
  padding-right: 0px;
  /*width: 189px;*/
  color: #fff;
  background-color: rgba(238, 238, 238, 1);
  color: #333;
}

.l2-container :not(:last-child) {
  padding-bottom:4px;
}
.l2-container :last-child { /* .l2-level */
  padding-bottom:2px;
}

.l2-level-collapsed {
  display: none;
}

.l2-title { /* .menu-item */
	padding-left:25px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  /*background-color: #666;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.l2-title:hover {
  background-color: $base-color-light;
  color: #fff;
}

.l2-expanded {
  display: inline-block;
  position: fixed;
  margin-top: calc(-2em - 3px);
  padding: 1em;
  background-color: rgba(238, 238, 238, 1);
  width: fit-content;
  box-shadow: 2px 12px 10px 5px $shadow-color;
  border-radius: 0.2em;
}

.sqs-menu-static-selection {
  background-color: $base-color;
}

.sqs-menu-container { /* main container for expanded menu */
  	display: none;
  	position: absolute;
    //z-index: 10002 !important;
    overflow-x: hidden;
    z-index: 1;
}

.sqs-menu-container-horizontal {
  display: flex !important;
  position: relative !important;
}

.sqs-menu-facet-type-icon {
  display:inline-block;
  //background-color: $inactive-color;
  background: transparent;
  //color: #eee;
  color: #333;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}


#domain-menu {
  .sqs-menu-title-container {
    background: $base-color;
  }
  .l1-container {
    background-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    color: #fff;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}

#aux-menu {
  box-shadow: 0px .5em .5em .25em $shadow-color;
  position: fixed;
  z-index: 91;
}

/*
#aux-menu {
  .sqs-menu-title-container {
    background: #fff !important;
    color: $base-color;
  }
  .l1-container {
    background-color: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    
    color: #fff;
  }
  .l1-container-level > li {
    background-color: #fff !important;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}
*/

#result-map-controls-container {
  .l1-container {
    background-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-title {
    font-size: 1.0rem;
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    color: #fff;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}

#result-map-sub-layer-selection-panel {
  position: absolute;
  top: 6em;
  right: 10px;
  background: rgba($base-color, 0.8);
  min-width: 200px;
  max-height: 50%;
  z-index: 0;
  padding: 1em;
  overflow: auto;
  overflow-x: hidden;
  color: #fff;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid $base-color;
}

.sub-layer-controls {
  margin-top: 0.5em;
}

.result-map-sub-layer-selection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.sub-layer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sub-layer-content {
  margin-top: 1em;
}

#minimize-sublayer-panel {
  position: relative;
  top: 0em;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.sub-layer-header h4 {
  margin: 0;
  padding: 0;
}

.sub-layer-label {
  cursor: pointer;
}

.first-level-item {
  position: relative;
  background: #eee;
  //background: rgba(0, 0, 0, 0.6);
  //color: #fff;
  padding: 0.5em;
  border-bottom: 1px solid #aaa;
  font-size: 1.2em;
  font-weight: 600;
  //z-index: 1000;
}

.first-level-item:hover {
  cursor: pointer;
  background: #fafafa;
}

.first-level-item-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-width: 0;
}

.first-level-item-expanded {
  background: #eee !important;
}

.first-level-item-title {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-left: .5em;
  margin-right: .5em;
}

.second-level-item {
  position: relative;
  background: #eee;
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.0em;
  display: none;
  font-weight: normal;
}

.second-level-item:hover {
  background: #fafafa;
}

.sqs-menu-selected {
  background-color: lighten($base-color, 10%) !important;
  color: #fff !important;
}

#aux-menu-button {
  height: 100%;
  color: #444;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.0);
  width: 5rem;
  height: 5rem;
  font-size: 2em;
}

.menu-button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}



.toggle-slider {
  width: 3em;
  height: 1.5em;
  background-color: #ccc;
  border-radius: .5em;
  position: relative;
}

.toggle-button {
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.toggle-button.active {
  transform: translateX(30px); /* Move the button to the right */
}

.sample-coordinates-map-container .sqs-menu-container {
  position: relative;
}

.sample-coordinates-map-container .first-level-item-title {
  font-size: 0.8em;
}

.sqs-menu-item-hidden {
  display: none;
}