@import "style.scss";

.sqs-menu-block-active {
  background-color: $base-color-light !important;
}

.header-vertical-divider {
  position:absolute;
  top:0px;
  left:0px;
  margin-left:0px;
  background-color: $pane-bg-color;
  width: 1px;
  height: 90px;
}


@mixin sqs-menu-block {
  display:grid;
  width: 100px;
  height: 100px;
  background-color: $inactive-color;
  color: #fff;
  font-family: 'Didact Gothic';
  font-weight:bold;
  font-size: 22px;
  
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 1fr 2fr 1fr;
  
  justify-items: center;
  align-items: center;

  &:hover {
    background-color: $base-color-light;
    cursor:pointer;
    }
}

.sqs-menu-title {
  grid-column: 2;
  grid-row: 2;
}

.sqs-menu-title-subtext {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  font-size: 14px;
  font-weight:bold;
  color: #fff;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  width: calc(100% + 8px);
  text-align:center;
  position:relative;
  top:-2px;
  background-color: #666;
}

.sqs-menu-block-vertical {
  @include sqs-menu-block;
  height:87px;
  width: 87px;
  border-left: 1px solid #fff;
  z-index: 2;
}

.sqs-menu-block-horizontal {
  @include sqs-menu-block;
  height: 43px;
  width: auto;
  font-size: 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #fff;
}

.sqs-menu-block-vertical-large {
  width: calc(20vw - 2px); //FIXME: 20vw should not be hardcoded
}

.sqs-menu-block-vertical-flexible {
  min-width: 160px;
  width: 100%;
  white-space: nowrap;
}

.sqs-menu-block-expanded {
  cursor: default;
}

.sqs-menu-block-compressed {
  height:25px !important;
}

.l1-tite-flex-container {
  display: flex;
  justify-content: space-between;
}

.l1-title { /* .menu-item-title */
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
  /*height: 22px;*/
  font-family: $header-font;
  font-weight: bold;
}

.l1-arrow {
  display: inline-block;
  transform: rotate(90deg);
}

.l1-container { /* .menu-category */
  position: relative;
  cursor:pointer;
  background-color: $inactive-color;
  //background-color: #ddd;
  color: #333;
  padding: 0px;
  margin: 0px;
}
/*
.l1-container-selectable:hover {
  background-color: $base-color-light;
}
*/

.l1-container:hover ul {
	left: 0;
	right: 0;
}

.l1-inactive {
  cursor: default;
  background-color: #ddd;
}

.l1-inactive:hover {
  background-color: #ddd !important;
}


@mixin l1-container-level {
	display:none;
	width: auto;
  margin-top: 0px;
	justify-content: center;
	flex-direction: column;
	/*top:0px;*/
	border-bottom: 0px solid #fff;
	padding:0px;
	z-index: 10;
  background-color: #fff;
}

.l1-container-level-vertical {
  @include l1-container-level;
  position: fixed;
  //right:0px; //Enable this if this element goes outside browser viewport (on the right)
  /*
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.5), -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  */
  box-shadow: 2px 12px 10px 5px $shadow-color;
}
/*
.l1-container-level-vertical {
  border-left: 2px solid #fff;
}
*/

#facet-menu .l2-title {
  background-color: $pane-bg-color !important;
  /*
  border-left: 2px solid #fff;
  */
}

.l1-container-level-vertical .l1-container .l1-title:hover {
  background-color: $base-color-light !important;
  color: #fff !important;
  cursor: pointer;
}

.l1-container-level-vertical .l1-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
  background-color: #ddd;
  color: #333;
  
  /*
  
  border-top: 1px solid #fff;
  */
}

#facet-menu .l1-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.l1-container-level-vertical .l1-title:hover {
  background-color: $base-color-light;
  color: #fff;
}

.l1-container-level-vertical .l1-inactive .l1-title:hover {
  background-color: #ddd;
  color: #333;
}

.l1-container-level-horizontal {
  	@include l1-container-level;
	  position: relative;
  	margin-top: 0px;
  	height: 33px;
}

.l1-container-level-horizontal > .l1-container {
  padding-left: 10px;
  padding-right: 10px;
}


.l1-container-level ul {
  list-style-type: none;
}

ul.l1-container-level {
  background: #444444;
}

.l1-container {
  display:block; /* :none for mobile */
  font-size: 20px;
  float:left;
  color: #fff;
}

.l1-container.l1-inactive:hover {
  background-color: $base-color-light !important;
}

li.l1-container:hover {
  background-color: $base-color-light;
}

.l2-level { /* .menu-item-level */
  display:block;
  position:static; /*change to static for mobile */
  padding-left:0px;
  margin-top:0px;
  background-color: $inactive-color;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: $base-color-light;
  padding-left: 0px;
  padding-right: 0px;
  /*width: 189px;*/
  color: #fff;
  background-color: rgba(238, 238, 238, 1);
  color: #333;
}

.l2-container :not(:last-child) {
  padding-bottom:4px;
}
.l2-container :last-child { /* .l2-level */
  padding-bottom:2px;
}

.l2-title { /* .menu-item */
	padding-left:25px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  /*background-color: #666;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.l2-title:hover {
  background-color: $base-color-light;
  color: #fff;
}

.l2-expanded {
  display: inline-block;
  position: fixed;
  margin-top: calc(-2em - 3px);
  padding: 1em;
  background-color: rgba(238, 238, 238, 1);
  width: fit-content;
  box-shadow: 2px 12px 10px 5px $shadow-color;
  border-radius: 0.2em;
}

.sqs-menu-static-selection {
  background-color: $base-color;
}

.sqs-menu-container { /* main container for expanded menu */
  	display:block;
  	position:relative;
}

.sqs-menu-facet-type-icon {
  display:inline-block;
  background-color: $inactive-color;
  color: #eee;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}


#domain-menu {
  .l1-container {
    background-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    color: #fff;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}

#aux-menu {
  .l1-container {
    background-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    color: #fff;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}

#result-map-controls-container {
  .l1-container {
    background-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .l1-title {
    font-size: 1.0rem;
  }
  .l1-container:hover {
    background-color: $base-color-light;
  }
  .l1-container .l1-title:hover {
    background-color: $base-color-light;
  }
  .l1-container:hover .l1-title {
    background-color: $base-color-light;
    color: #fff;
  }

  .sqs-menu-static-selection {
    background-color: $base-color;
  }
  .sqs-menu-static-selection .l1-title {
    background-color: $base-color;
    color: #fff;
  }
}