@import "colors.scss";
@import "fonts.scss";

/*
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Didact+Gothic');
*/

$header-font: 'Rajdhani';
$normal-font: 'Didact Gothic';
$special-font: 'Rajdhani';
$sead-font: 'Exo 2';

/*
:export {
  color3: $color3;
}
*/




@import "SiteReport.scss";
@import "RangeFacet.scss";

html {
	height: 100%;
}

h1 {
  font-family: $header-font, 'arial';
  font-size:36px;
  margin-top: 0px !important;
}

h2 {
	background-color: $inactive-color;
	margin-top:0px;
}

h4 {
  font-size: 1.4em;
  font-weight: normal;
}

body {
  font-family: $normal-font, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: $pane-bg-color;
}

input {

}

select.sqs {
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
  height: 18px;
  font-size: 12px;
}

select {
  background-color: #eee;
}

div:focus {
  outline:0;
}

#header-space {
  position:static;
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 1px solid #fff;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height:87px;
}

#sead-logo {
  cursor:pointer;
  /*
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-color:#fff;
  background-repeat: no-repeat;
  margin:0px;
  */
  height: 100%;
}

.sead-logo-large {
  background-image: url('../assets/SEAD-logo-with-subtext.png');
}

.sead-logo-small {
  background-image: url('../assets/SEAD-logo-small.png');
}

.sead-logo-square {
  background-image: url('../assets/SEAD-logo-square.png');
}

.sead-logo-text {
  font-size: 2em;
  color: $sead-brown;
  font-family: $header-font;
  font-weight: bold;
}

.sead-logo-compressed {
	background-image: url('../assets/SEAD-logo-small.png') !important;
	background-size: 100px !important;
}

.bold-first-letter-text::first-letter {
	display:inline-block;
	font-weight:bold;
}


#main-container {
	position:fixed;
	width:100%;
	padding:0px;
  margin:0px;
  background-color: $main-background-color;
}


h1.main-header {
	margin-top:0px;
	margin-bottom: 0.0vh;
	padding: 0px;
}

.header-sub-text-container {
	position: absolute;
	margin-left: 180px;
	margin-top: -45px;
}

.header-sub-text {
	font-family: $header-font, 'arial';
	font-size: 18px;
	margin: 0px;
	margin-bottom:0px;
}

.acronym {
	font-weight:bold;
	color: #eee;
}

#header-container {
	display:none; //should be flex when shown
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;

	color: #fff;
	background-color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0px;
	margin: 0px;

	border-bottom-style:solid;
	border-bottom-width: 1px;
	border-bottom-color: $pane-bg-color;
}

.header-compressed {
	height: 25px;
}

#section-left {
	border-top: 0px solid $inactive-color;
	background-color: #fff;
}

#section-right {
	background-color: $inactive-color;
}

#facet-section {
	overflow: hidden;
	position:absolute;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	width: calc(100% - 40px);
}

.facet-loading-indicator {
	display:none;
	background-color:#000;
	width: 15px;
	height: 15px;
	align-self: center;
	background-image: url('../assets/ajax-loader.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right:5px;
	margin-left: 5px;
	background-color: transparent;
}

.facet-loading-indicator-error {
	background-image: url('../assets/ajax-loader-error.png') !important;
}

#result-section {
	background-color: $pane-bg-color-dark;
  padding:20px;
  height: calc(100vh - 129px);
}

#templates {
	display:none;
}

#facet-auxiliary-controls {
  display:flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  margin-bottom: 0px;
}

#facet-show-only-selections-btn {
  color: $inactive-color;
  padding-right: 5px;
  padding-bottom: 5px;
}

#facet-show-only-selections-btn:hover {
  background-color: $pane-bg-color;
  cursor:pointer;
}

#facet-show-only-selections-btn > .facet-head-btn:hover {
  background-color: transparent !important;
}

.facet {
	position: absolute;
	height: 300px;
	width: 100%;
	background-color: $pane-bg-color;
	margin: 0px;
	padding: 0px;
}

.facet-locked {
  opacity: 1.0;
}

.facet-locked > .facet-header {
  cursor:not-allowed;
}

.facet-locked > .facet-header > .facet-head-btn {
  display:none;
}

.facet-locked > .facet-body > .list-container > .facet-row  {
  background-color: $inactive-color;
  cursor:not-allowed;
}

.facet-header {
	display:flex;
	cursor:move;
}

.facet-title {
	flex: 1;
	font-weight:bold;
	font-size:14px;
	margin:5px;
	margin-left:8px;
	margin-top:8px;
	padding:0px;
	line-height:14px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.facet-portal-indicator {
  flex: 2;
	font-weight:bold;
	font-size:14px;
	margin:5px;
	margin-left:8px;
	margin-top:8px;
	padding:0px;
	line-height:14px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  color: $aux-color;
}

.facet-header-divider {
	margin-top:1px;
	margin-bottom:0px;
	width:97%;
	height:1px;
	background-color: $aux-color;
}

.facet-body {
  /*height: 268px;*/ /* needs to have fixed height because of range/diagram filters, but this is set in js facet init - to let this value be specified in Config*/
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
}

.facet-body-disabled {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
  height: 80px;
}

.facet-disabled-msg {
  display:none; //should be "flex" when shown
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 28px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: $inactive-color;
  background-color: rgba(60, 60, 60, 0.9);
  background-color: lightgray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.25) 35px, rgba(255,255,255,.25) 70px);
  z-index: 1;
}

.facet-disabled-msg > div {
  text-align:center;
}

.facet-disabled-msg h2 {
  display:block;
  color: #fff;
  font-size: 1.4rem;
  background-color: $inactive-color;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.facet-disabled-msg .text {
  color: $inactive-color;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.facet-head-btn {
  display:inline-block;
  font-size: 16px !important;
  margin-top:0px;
  margin-bottom:0px;
  cursor:pointer;

  padding-left: 5px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 0px;

  margin-right: 2px;
  color: $inactive-color;
  z-index: 2;
  width: 12px;
}

.facet-head-btn:hover {
	background-color: #fff;
}

.facet-minimize-btn {
}

.facet-maximize-btn {
  display:none;
}

.facet-control-active {
  color: $aux-color;
}

.facet-text-search-input {
	display:none;
	height: 10px;
	margin-top: 4px;
	width: 25%;
}

.discrete-facet-blank-space {
	position:relative;
	width: 100%;
}

.facet-row {
  display:grid;
  grid-template-columns: 20px 1fr auto;
  grid-template-rows: auto;
  align-items: center;
	height: 20px;
}

.facet-row:hover {
	background-color: $pane-bg-color-dark;
	cursor:pointer;
}

.facet-row-selected {
	background-color: $inactive-color;
	color: #fff;
}

.facet-row-selected:hover {
	background-color: $pane-bg-color-dark;
	color: #fff;
}

.facet-row-text {
	/*
	display:inline-block;
	*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	margin-left: 5px;
}

.facet-row-count {
	margin-right: 5px;
	margin-left: 5px;
}

.facet-row-checkbox-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.facet-row-checkbox {
  margin-left: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  width: 12px;
  height: 12px;
}

.facet-row-checkbox-mark {
  position:relative;
  top: -2px;
  left: -1px;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: $pane-bg-color-dark;
  background-color:transparent;
  height: 300px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
}

.slot-visible {
  border: 4px solid $pane-bg-color;
  font-size: 1.0rem;
  padding: 20%;
  text-align: center;
  color: $inactive-color;
}

.filter-demo-arrow {
  font-size: 7.5rem;
  text-align:center;
  width: 100%;
  color: $pane-bg-color-dark;
}

.result-module-title {
  margin-left: 6px;
}

#result-tabs-container > ul > li.result-module-tabs-title {
  background-color: $inactive-color;
}

#result-tabs-container > ul > li.result-module-tabs-title:hover {
  background-color: $inactive-color;
  cursor: default;
}

#result-tabs-container > ul .fa {
  vertical-align: bottom;
}

#result-tabs-container {
  display:flex;
  justify-content: space-between;

  height:43px;
  width: 100%;
  margin-top: 0px;
}

#result-tabs-container > ul {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  top: 10px;
}

#result-tabs-container > ul > li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  background-color: $inactive-color;
  padding: 12px;
}

#result-container {
  position: relative;
  background-color: #fff;
  padding: 10px;
  height: calc(100vh - 130px - 70px);
  margin-top: 0px;
}

.result-module-container {
  display:none;
  position:static;
  top: 0px;
  height: 100%;
  width: 100%;
}

.map-container {
	display:none;
	position:relative;
	height: 100%;
	width: 100%;
}

.map-help-text {
	position:absolute;
	z-index:1;
	width: 100%;
	text-align: center;
	font-weight: bold;
}´

.result-map-control-container {
  position: absolute;
  top: 0px;
  right: 0.5em;
  color: #fff;
}

.result-map-control {
  font-size: 1em !important;
  width: 2em !important;
  height: 2em !important;
  color: #fff;
}

.result-map-control-picker {
  display:none;
  position:absolute;
  margin-left: 0px;
  right: 2.25em;
  padding: 3px !important;
  color: #fff;
  font-size: 1.14em;
}

.result-map-control-picker > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.result-map-control-picker > ul > li {
  background-color: rgba(0, 60, 136, 0.5);
  padding: 5px;
  margin-bottom: 0px;
}

.result-map-control-picker > ul > li:hover {
  background-color: rgba(0, 60, 136, 0.75);
}

.ol-overlaycontainer-stopevent button[type=button] {
	font-size: 16px;
}

.ol-zoom {
  margin-top: 22px
}

.chart-container {
	display:none;
	position:relative;
	height: 90%;
	width: 100%;
}

.chart-canvas-container {
	position:relative;
	height: 100%;
	width: 100%;
}

.list-container {
	display:none;
	position:relative;
	height: 100%;
  width: 100%;
	/*background-color:rgba(0, 0, 255, 0.5);*/
}

.scroll-selection-indicator {
  background-color: $aux-color;
  height: 100%;
  width: 5px;
}

.ui-resizable-handle {
  width: 8px;
}

.ui-resizable-handle:hover {
  background-color: $inactive-color;
  cursor: col-resize;
}


.menu-symbol-facet {
	position:relative;
	display:inline-block;
	background-color:$pane-bg-color;
	width: 12px;
	height: 12px;
	margin-right:4px;
	font-size: 10px;
	text-align:center;
	vertical-align: middle;
	font-weight:bold;
	color: #fff;
	line-height:12px;
	margin-bottom:4px;
}

.overlay-container {
  display:flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.overlay-dialog {
	display:none;
	position:fixed;
	background-color: #fff;
	color: #000;

	top: 10vh;
	left: 10vw;

	width: 80vw;
	max-height: 80vh;
	box-shadow: 0px 0px 20px $pane-bg-color;
	border-width: 1px;
	border-style: solid;
	border-color: $pane-bg-color-dark;
	padding: 30px;
	z-index: 10;
	overflow:auto;
}

.overlay-dialog-close-btn {
	float:right;
	font-size: 24px;
	margin-top: -20px;
	margin-right: -20px;
}

.overlay-dialog-close-btn:hover {
	cursor:pointer;
	color: $aux-color;
}

#logo-section {
	margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-section-logo {
	height: 100px;
	margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-section-logo:hover {
	opacity: 0.8;
}

.viewstate-input {
	width: 100%;
}

#viewstate-key, #viewstate-url {
	font-weight:bold;
}

#viewstate-load-list {
	margin-top: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.viewstate-load-item-header {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  font-weight: bold;
  font-size: 1.0rem;
  margin-bottom:5px;
  grid-column-gap: 20px;
}

.viewstate-load-item {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  grid-column-gap: 20px;
}

.viewstate-load-item:hover {
  background-color: $pane-bg-color;
  cursor:pointer;
  font-weight: bold;
}

.viewstate-delete-btn:hover {
  color: $aux-color;
}

.viewstate-dialog {
  display:grid;
  grid-template-columns: [left] 1fr [right] 0.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.viewstate-dialog > button {
	margin-top: 20px;
	max-width: 10%;
	min-width: 80px;
	max-height: 10%;
	min-height: 45px;
	font-size: 20px;
}

.viewstate-dialog > h1 {
	margin-top:0px;
}

#viewstate-save-btn {
  display:none; //Hidden by default, shown when logged in
  width: 120px;
  height: 35px;
  background: $aux-color;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top:10px;
}

#viewstate-save-input {
  display:none; //Hidden by default, shown when logged in
}

#settings-menu-label {

}
#settings-menu-label-icon {
	background-image: url('../assets/settings.svg');
	background-repeat: no-repeat;
	background-position: top left;
    color: #fff;
}


#result-table {
	display:none;
}

.facet-text-search-btn {
	display:none;
}

.facet-no-data-msg {
	display:none;
	position:absolute;
	font-size: 50px;
	color: #aaa;
	text-align:center;
	padding-top:80px;
	height:100%;
	width:100%;
}
/*
#splash-screen {
	position:fixed;
	background-color: #fff;
	background-image: url('/src/assets/sead-logo-white.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}
*/

.loading-indicator {
  display:none;
  position:absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  z-index: 100;
  background-image: url('../assets/loading-indicator4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: rgba(127, 127, 127, 0.5);*/
  /*border-radius: 50%;*/
}

.local-loading-indicator {
  display:none;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  z-index: 100;
  background-image: url('../assets/loading-indicator4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: rgba(127, 127, 127, 0.5);*/
  border-radius: 50%;
}

#result-table-container {
	overflow-y:auto;
}

.result-loading-indicator-error {
	background-color: rgba(255, 0, 0, 0.65) !important;
}

.tabulator-row:hover {
	background-color: rgba(0, 0, 100, 0.25) !important;
	color: #000 !important;
}

.notifyjs-wrapper {
}

.notifyjs-container {
}

.notifyjs-bootstrap-base {
	font-size: 14px;
  	font-family: $normal-font;
  	font-weight: normal;
	border-radius: 0px;
	color: #000;
	border-color: $inactive-color;
	border-width: 2px;
	z-index: 20 !important;
	padding-top:4px !important;
}

.notifyjs-bootstrap-info {
  background-color: #fff;
  background-image: none;
  border-color: $inactive-color;
  padding: 5px;
  padding-top: 2px;
}

.notifyjs-bootstrap-warn {
  background-color: $warning-color;
  background-image: none;
  border-color: $inactive-color;
  padding: 5px;
}

.notifyjs-bootstrap-error {
  background-color: $error-color;
  background-image: none;
  border-color: $inactive-color;
  padding: 5px;
}


#menu-help-state-indicator {
	background-color: rgba(255, 255, 255, 0.6);
	padding-left: 8px;
	padding-right: 8px;
	color: #000 !important;
	border-width: 0px;
	border-style: solid;
	border-color: #000;
	border-radius: 0px;
}

#result-nodatamsg-container {
	display:grid;
	grid-template-columns: 100px auto 100px;
	grid-template-rows: 100px auto 100px;
}

.result-info-text {
	font-size: 50px;
	font-weight: bold;
	color: $inactive-color;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	text-align: center;
}

#no-data-container {

}

#result-info-text-container {
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.large-info-text {
	font-size: 60px;
	color: $inactive-color;
  margin-bottom:20px;
}

.small-info-text {
	font-size: 20px;
}


.section-title {
	font-size: 30px;
	color: $pane-bg-color-dark;
	white-space: nowrap;
}

#facet-section-title {
	position:absolute;
	margin-left: 10px;
	margin-top: 0px;
}

#result-msg-contents {
	display:none;
	width: 100%;
	height: 100%;
}

#result-datatable_wrapper {
}

#result-datatable {
  width: 100% !important;
}

#result-datatable thead tr {
	background-color: $inactive-color;
	color: #fff;
	font-size: 16px;
}

#result-datatable tbody tr:hover {
	background-color: $pane-bg-color;
}

#result-table-container {
	overflow-x: hidden;
}

input[type="search"] {
	border-width: 1px;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: #000;
  stroke-width: 2px;
  fill: none;
}

#result-mosaic-container {
  display: none; /*should be 'grid' when active*/
  grid-template-columns: repeat(2, 1fr [mosaic-column]);
  grid-template-rows: repeat(2, 1fr [mosaic-row]);

  /*
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  */

  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.result-mosaic-loading-indicator-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.result-mosaic-loading-indicator-bg {
  background-position: 50% 50%;
  //background-image: url('../assets/ajax-loader.gif');
  //background-image: url('../assets/loading-indicator4.svg');
  background-image: url('../assets/visead-loading.gif');
  background-repeat: no-repeat;
	background-size: 40%;
	background-color: transparent;
}

.result-mosaic-no-data-msg {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.result-mosaic-tile {
  width:100%;
  height:100%;
  background-color: #eee;
}

.result-mosaic-tile > h2 {
  position:absolute;
  z-index: 1;
  background-color: $pane-bg-color-dark;
  /*color: #fff;*/
  padding-left: 2px;
  padding-right: 2px;
}

.result-mosaic-graph-container {
  /*
  display:flex;
  align-items: center;
  justify-content: center;
  */
  width: 100%;
  height: 100%;
  background-color: $pane-bg-color;
}

.result-map-render-container {
  width: 100%;
  height: 80%;
  background-color: $pane-bg-color;
}

.result-timeline-render-container {
  width: 100%;
  height: 20%;
  background-color: $white;
  margin-top: 10px;
}

#timeline-dummy-warning {
  position: absolute;
  background-color: rgba(160, 0, 0, 0.8);
  color: #fff;
  z-index: 10;
  border-color: black;
  padding: 10px;
  border-radius: 10px;
  transform: rotate(-30deg);
}

.resultMosaicChart {
  background-color: #eef;
}

.dataTables_filter input[type='search'] {

}

.timeline-chart-container {
  height: 80%;
  height: calc(100% - 40px);
  overflow: hidden;
  display:flex;
  justify-content: center;
}

.timeline-chart-container-wrapper {
  position:relative;
  width: 100%;
}


.timeline-slider-container-inner {
  position:relative;
}

.timeline-slider-container {
  height: 40px;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#dev-notice {
  display:none; /*Change this to 'block' when pushing a development release*/
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0px;
  width: 100vw;
  color: #fff;
  font-size: 14px;
  z-index: 100;
  text-shadow: 0px 0px 10px #000000;
  padding: 0px;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align:center;
  cursor:pointer;
}

.dev-notice-close-btn {
  cursor:pointer;
  float:right;
  margin-right: 5px;
}

#cover-tiles {
  display:none;
  overflow: hidden;
  position:fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 10;
  /*
  height: 100vh;
  width: 100vw;
  background-color:transparent;
  */
}

#cover-tiles-logo {
  background-image: url('../assets/visead-loading.gif');
  background-size: 40vw;
  background-position: center top;
  position:absolute;
  top: 30vh;
  left: calc(50vw - 20vw);

  width: 50vw;
  height: 50vh;

  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  z-index: 12;
}

#cover-tiles-text {
  position:absolute;
  top: 53vh;
  left: calc(50vw - 20vw);
  text-align:center;
  width: 40vw;
  font-size: 80px;
  color: #999;
  text-shadow: 0px 0px 2px #333;
  z-index: 12;
  font-family: $sead-font;
}

.cover-tile {
  background-color:#eee;
  display:block;
  position:absolute;
  z-index: 11;
  box-shadow: 0px 0px 7px #fff;
}

.cover-tile:hover {
}

.help-icon {
  font-size: 10px !important;
  vertical-align: super;
  cursor:pointer;
  margin-left:4px;
}

.help-icon:hover {
  color: $inactive-color;
}

.small-link {
  font-size: 12px;
}

#map-popup-container {
  display: none;
  position: relative;
  background: rgba(255, 255, 255, 1.0);
  border: 2px solid #000000;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px $shadow-color;
}

#map-popup-container:after, #map-popup-container:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#map-popup-container:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
#map-popup-container:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 10px;
	margin-left: -10px;
}

#map-popup-title {
	font-weight: bold;
	margin-bottom:10px;
	font-size: 16px;
}

.jslink {
	color: blue;
	text-decoration: underline;
	cursor:pointer;
}

.jslink-alt {
	color: $aux-color;
	cursor:pointer;
}

.hidden {
	display:none;
}

.site-report-link {
	position:relative;
	top: 1px;
	font-size: 14px;
  color: #000;
  text-decoration: none;
}

.site-report-link :hover {
  background-color: $pane-bg-color;
}

#result-map-controls-container {
  display:flex;
  position:absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.result-map-control-icon {
  font-size: 16px !important;
  padding-top: 2px;
}

.result-map-layer-menu-item {
  color: #fff;
  padding:3px;
}

#facet-menu > .sqs-menu-block-vertical-large {
  background-color: $aux-color !important;
}

#facet-menu > .menu-category-level {
  left: 0px;
}

#facet-menu-title {
	display:none;
	font-size: 40px;
}

#viewstate-menu > .menu-category-level {
  right: 14px;
}

#help-menu > .menu-category-level {
  left: 216px;
}

#settings-menu > .menu-category-level {
  right: 123px;
}

#result-menu {
  z-index: 1;
}

#result-menu > .sqs-menu-title {
  background-color: $inactive-color;

}

.result-map-control-menu-title {
  height: auto;
  border-width: 0px;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 6px;
  opacity: 0.75;
  width: auto;
}

.result-map-control-item-title {
  font-size: 16px;
  margin: 5px 5px 2px 5px;
  padding: 10px;
  font-family: $normal-font;
}

.result-map-control-menu-title:hover {
  opacity: 1.0;
}

.popper {
  background-color: $pane-bg-color;
  border: 2px solid $inactive-color;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px $shadow-color;
  max-width: 40%;
}

.popper-title {
  font-weight: bold;
  margin-bottom:5px;
  font-size: 1.2em;
}

.tooltip-anchor-highlight {
  animation-duration: 0.5s;
  animation-name: tooltip-anchor-highlight;
  background-color: $aux-color;
}

@keyframes tooltip-anchor-highlight {
  from {
	background-color: transparent;
  }

  to {
	background-color: $aux-color;
  }
}

#about-section {
  max-width: 600px;
}

#team-section {
  max-width: 970px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.team-members ul {
  list-style: square;
}

.team-member-name {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 16px;
  margin-top:10px;
  padding-left: 10px;
  font-family: $header-font;
}

.team-member-name::before {
  display:inline-block;
  content: "";
  position:relative;
  width: 12px;
  height: 20px;
  left:-6px;
  background-image: url('../assets/ghost-dandelion.png');
  background-size: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.team-member-name::after {
  content: "";
  border-bottom: 1px solid $pane-bg-color-dark;
  position:relative;
  display:block;
  top: 0px;
  width: 180px;
  height: 1px;

}

.team-member-container {
  display:inline-block;
  margin-bottom: 10px;
  margin: 10px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: $pane-bg-color;
  font-size: 14px;
  width: 200px;
  height: 150px;
}

.team-member-link {
  display:block;
  margin-top: 20px;
}

#popover-dialog {
  display:none; /* Will be set to "grid" by the code */
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}

#popover-dialog-frame {
  grid-column: 2;
  grid-row: 2;
  background-color: #fff;
  box-shadow: 0px 0px 20px #666;
  padding: 30px;
  overflow: auto;
  max-height: 90%;
  max-width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: $pane-bg-color-dark;
}


#popover-dialog-frame > h1 {
  margin-top: 5px;
}

.popover-close-btn {
  float:right;
  font-size: 24px;
  margin-top: -20px;
  margin-right: -20px;
}

.popover-close-btn:hover {
  cursor:pointer;
  color: #a00;
}


.dialog-centered-content-container {
  width:100%;
  text-align:center;
}


.slotArrowContainer {
  display:flex;
  justify-content: center;
  color: #bbb;
  margin:0px;
  padding:0px;
  margin-bottom:2px;

}

.slotArrowContainer > div {
  margin:0px;
  padding:0px;
}

#result-title {
  color:$sead-brown;
  background-color: #fff;
  position:relative;
  top: 7px;
  font-size: 1.6rem;
  padding: 0px;
  padding-top:5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: $sead-font;
  height:36px;
}

#googleLoginContainer {
  max-width: 480px;
  width: 100%;
  align-self: center;
}

#googleUser {
  display:flex;
  align-items: center;
}

#googleLoginInformation {
  display:none;
  font-weight:bold;
}

#googleImage {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#google-signout {
  cursor:pointer;
  color: blue;
  text-decoration: underline;
}

#googleLoginTemplate {
  display:none;
}

.timeline-label {
  font-family: "Rajdhani";
  font-weight: bold;
  font-size: 14;
}

.cc-window {
  box-shadow: 00px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.cc-btn {
  color: #fff !important;
}

.important-text {
  color: red;
  font-size: 1.0em;
}

.result-tab-title {
  padding-left: 7px;
}

.result-map-tab-title {
  padding-left: 7px;
}

.google-user-display {
  display: grid;
  grid-template-columns: [image] 50px [info] 1fr;
  grid-template-rows: 1;
}

.google-user-profile-image {
  grid-column: image;
  width: 50px;
  height: 50px;
}

.google-user-profile-email {
  font-weight: normal;
}

.logged-in-text {
  margin-top: 10px;
  margin-bottom: 5px;
}

.logged-in-text-line {
  width: 200px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.google-user-profile-information {
  grid-column: info;
  padding-left: 10px;
  display:flex;
  align-items: center;
}

#viewStateSaveGoogleLogin {
  grid-column: right;
  align-items: center;
}

#preload-loading-indicator {
}

.seadlogo-loading-indicator-container {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seadlogo-loading-indicator-bg {
  display:block;
  width: 25%;
  height: 25%;
  background-position: 50% 50%;
  background-image: url('../assets/visead-loading.gif');
  background-repeat: no-repeat;
	background-size: contain;
  background-color: transparent;
}


#preload-failed-indicator {
  display:none;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}

#preload-failed-indicator > h2 {
  color: rgb(210, 0, 0);
  background-color: transparent;
}